*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a8dadc;
}
.gallery{
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.gallery  img{
    height: 180px;
    width: 230px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.img-container{
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    border: 1px solid black;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}
.img-container img{
    height: 600px;
    width: 1000px;
    top: 25%;
    left: 30%;

}

#close{
    position: absolute;
    cursor: pointer;
    height: 40px;
    width: 40px;
    left: 80%;
    top: 8%;
}
#next{
    position: absolute;
    top: 50%;
    left: 80%;
    cursor: pointer;
    height: 30px;
    width: 30px;

}
#previous{
    position: absolute;
    top: 50%;
    left: 18%;
    cursor: pointer;
    height: 30px;
    width: 30px;
}
